body {
    font-family: 'Poppins';
    background-color: 	#fafafa  ;
    padding: 20px;
}
main{
    width: 1200px;
    max-width: 90%;
    margin : 0 auto;
}

h1 {
    color: rgb(163, 165, 174);
    font-weight: 600;
}

.highlight {
    color: black;
}

P {
    color: rgb(163, 165, 174);
    font-weight: 600;
}

.grid-container {
    display: grid;
    align-content: space-between;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 300px;
    margin: auto;
}

.grid-item1 {
    border: 2px;
    padding: 5px;
    text-align: center;
    height: 250px;
    width: 300px;
    margin-top: 150px;
    margin-left: 40px;
    background: white;
    box-shadow: 10px 10px 40px gray;
}

.grid-item2 {
    text-align: center;
    margin-left: 42px;
    margin-bottom: 50px;
    height: 250px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 40px gray;
}

.karma {
    margin:auto;
    border: 3px ;
    padding: 10px;

    overflow: hidden;
    align-items: center !important;
    height: 250px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 40px gray;

}

.grid-item3 {
  
    margin: auto;
    margin-top: 150px;
    width: 50%;
    border: 2px;
    padding: 10px;
    overflow: hidden;
    align-items: center !important;
    height: 250px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 40px gray;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 4;
}

#team {
    border-top: 7px solid;
    border-image: linear-gradient(180deg, salmon, red);
    border-image-slice: 1;
}

#team-logo {
    padding-left: 100px;
    margin-right: 0%;
    margin-top: 40px;
}

#supervisor {
    border-top: 7px solid;
    border-image: linear-gradient(180deg, cyan, cyan);
    border-image-slice: 1;
}

#supervisor-logo {
    margin-top: 40px;
    padding-left: 100px;
    margin-right: 0%;
}

#calculator{
    border-top: 7px solid;
    border-image: linear-gradient(180deg, blue, blue);
    border-image-slice: 1;
}
#calculator-logo{
    margin-top: 40px;
    padding-left: 180px;
    margin-right: 0%;
}
.karma{
    border-top: 7px solid;
    border-image: linear-gradient(180deg, orange, orange);
    border-image-slice: 1;
}
#karma-logo{
    margin-top: 40px;
    padding-left: 180px;
    margin-right: 0%;
}


        @media (max-width:992px)
        {
            .grid-container{
                grid-template-columns: repeat(1, 1fr);
            }
            
        }
        @media (max-width:800px)
        {
.karma {
    margin:auto;
    margin-top:400px;
    margin-bottom:200px;
margin-left:3px;
    border: 3px ;
    padding: 10px;

    overflow: hidden;
    height: 250px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 40px gray;

}
.karma{
    border-top: 7px solid;
    border-image: linear-gradient(180deg, orange, orange);
    border-image-slice: 1;
}
#karma-logo{
    margin-top: 40px;
    padding-left: 180px;
    margin-right: 0%;
}
.grid-item3 {
  
    margin: auto;
    margin-top: 250px;
    margin-left:0px;
    width: 50%;
    border: 2px;
    padding:5px;
    overflow: hidden;
    align-items: center !important;
    height: 250px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 40px gray;
}

#calculator{
    border-top: 7px solid;
    border-image: linear-gradient(180deg, blue, blue);
    border-image-slice: 1;
}
#calculator-logo{
    margin-top: 40px;
    padding-left: 180px;
    margin-right: 0%;
}
        }
   
     
        @media (max-width:535px)
        {
            .grid-item2 {
    text-align: center;
   
    height: 250px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 40px gray;
}
           .karma {
    margin:auto;
    margin-top:400px;
    margin-left:auto;
    border: 3px ;
    padding: 10px;
    overflow: hidden;
    align-items: center !important;
    height: 250px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 40px gray;

}
.karma{
    border-top: 7px solid;
    border-image: linear-gradient(180deg, orange, orange);
    border-image-slice: 1;
}
#karma-logo{
    margin-top: 40px;
    padding-left: 180px;
    margin-right: 0%;
}
.grid-item3 {
  
    margin: auto;
    margin-top: 250px;
    width: 50%;
    border: 2px;
    padding: 10px;
    overflow: hidden;
    align-items: center !important;
    height: 250px;
    width: 300px;
    background: white;
    box-shadow: 10px 10px 40px gray;
}
#calculator{
    border-top: 7px solid;
    border-image: linear-gradient(180deg, blue, blue);
    border-image-slice: 1;
}
#calculator-logo{
    margin-top: 40px;
    padding-left: 180px;
    margin-right: 0%;
}

        }
   
     
     
        
    
        
    
    
